/*
*
* Index
*
* 0.0 - Variables
*   0.1 - Colors
*   0.2 - Sizes and Spacings
* 1.0 - General
*   1.1 - Typography
*   1.2 - Backgrounds
*   1.3 - Buttons
*   1.4 - Forms
* 2.0 - Layout
* 3.0 - Header
* 4.0 - Footer
* 5.0 - Pages
* 6.0 - Components
* 10.0 - Media min 576px
*   12.0 - Layout  
* 20.0 - Media min 768px
*   21.0 - General
*     21.1 - Typography
*     21.3 - Buttons
*   22.0 - Layout
*   23.0 - Header
*   24.0 - Footer
*
*/

/**
* #0.0 - Variables 
*/

/**
* #0.1 - Colors 
*/

:root {
  --color-shark-50: #f4f7f7;
  --color-shark-100: #e3e9ea;
  --color-shark-200: #c9d4d8;
  --color-shark-300: #a4b6bc;
  --color-shark-400: #789098;
  --color-shark-500: #5c747e;
  --color-shark-600: #4f616b;
  --color-shark-700: #44525a;
  --color-shark-800: #3d474d;
  --color-shark-900: #363d43;
  --color-shark-950: #293035;
  --color-red-50: #fef2f3;
  --color-red-100: #fde6e8;
  --color-red-200: #fad1d5;
  --color-red-300: #f5acb4;
  --color-red-400: #ef7d8c;
  --color-red-500: #e44f66;
  --color-red-600: #ce2e4e;
  --color-red-700: #af2141;
  --color-red-800: #931e3d;
  --color-red-900: #7e1d39;
  --color-red-950: #460b1b;
  --text-color: #333;
  --text-color-light: #fff;
  --headings-color: var(--color-shark-600);
  --headings-color-light: #fff;
}

/**
* #0.2 - Sizes and Spacings 
*/

:root {
  --text-size-sm: 14px;
  --text-size-md: 16px;
  --text-size-lg: 20px;

  /* Minor Third */
  --text-size-h1: 39px;
  --text-size-h2: 33px;
  --text-size-h3: 27px;
  --text-size-h4: 23px;
  --text-size-h5: 19px;
  --text-size-h6: 16px;

  /* Major Second */
  --text-size-h1-sm: 28px;
  --text-size-h2-sm: 25px;
  --text-size-h3-sm: 22px;
  --text-size-h4-sm: 20px;
  --text-size-h5-sm: 18px;
  --text-size-h6-sm: 16px;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --grid-gap: 32px;
}

/**
* #1.0 - General
*/
html {
  color: var(--text-color);
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  font: 400 16px/1.6 Poppins, Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

/**
* #1.1 Typography 
*/

h1,
.h1 {
  font-size: var(--text-size-h1-sm);
  font-weight: 800;
  line-height: 1.2;
  color: var(--headings-color);
}
h2,
.h2 {
  font-size: var(--text-size-h2-sm);
  font-weight: 800;
  line-height: 1.2;
  color: var(--headings-color);
}
h3,
.h3 {
  font-size: var(--text-size-h3-sm);
  font-weight: 800;
  line-height: 1.2;
  color: var(--headings-color);
}
h4,
.h4 {
  font-size: var(--text-size-h4-sm);
  font-weight: 800;
  line-height: 1.2;
  color: var(--headings-color);
}
h5,
.h5 {
  font-size: var(--text-size-h5-sm);
  font-weight: 800;
  line-height: 1.2;
  color: var(--headings-color);
}
h6,
. {
  font-size: var(--text-size-h6-sm);
  font-weight: 800;
  line-height: 1.2;
  color: var(--headings-color);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
ul {
  margin: 16px 0;
}

h1:first-child,
.h1:first-child,
h2:first-child,
.h2:first-child,
h3:first-child,
.h3:first-child,
h4:first-child,
.h4:first-child,
h5:first-child,
.h5:first-child,
h6:first-child,
.h6:first-child,
p:first-child {
  margin-top: 0;
}

a {
  text-decoration: none;
}

.text-large {
  font-size: var(--text-size-lg);
}

/**
* #1.2 Backgrounds 
*/

.background {
  background-color: var(--color-shark-50);
}
.background-newsletter {
  background-color: var(--color-shark-200);
}

/**
* #1.3 Buttons
*/

.button {
  display: inline-block;
  background-color: var(--color-shark-100);
  color: var(--color-shark-700);
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  font-weight: normal;
}

.button--primary {
  background-color: var(--color-red-500);
  color: var(--color-shark-50);
  transition: opacity 0.3s ease-in-out;
}
.button--primary:hover {
  opacity: 0.7;
}

.button--submit {
}

.button--margin {
  margin-bottom: 32px;
}

/**
* #1.4 Forms
*/

input,
textarea,
select {
  padding: 12px 16px;
  border: 1px solid var(--color-shark-200);
  border-radius: 4px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

textarea {
  resize: vertical;
}

.field {
  display: flex;
  margin: var(--spacing-md) 0;
}

.field__text {
  flex-direction: column;
}

.field__checkbox {
  align-items: flex-start;
}

.field__label {
  margin-bottom: var(--spacing-xs);
  font-size: var(--text-size-sm);
}

.field__input {
}

.field__input-checkbox {
  margin-right: 8px;
}

/**
* 2.0 - Layout 
*/

main {
  margin-bottom: auto;
  padding-top: 76px;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.container-small {
  margin: auto;
  width: 100%;
  max-width: 768px;
}

.home-hero,
.webinar-hero,
.about-hero,
.contact-hero,
.page-hero,
.home-future,
.home-change,
.home-makeover,
.home-ready,
.webinar-agenda,
.webinar-host,
.webinar-faq,
.webinar-testimonials,
.webinar-form,
.about-alex,
.about-vision,
.about-transformation,
.contact-form,
.newsletter,
.page-section {
  padding: 36px 24px;
}

.home-change-cta,
.home-change-actions {
  padding: 0 24px 36px 24px;
}

.home-change-cta {
  display: flex;
  justify-content: center;
}

.home-hero,
.home-change {
  display: flex;
  flex-direction: column-reverse;
}

.footer__content {
  padding: 32px 24px;
}

.newsletter-header,
.home-ready__content {
  text-align: center;
}

/**
* #3.0 Header
*/

.header {
  position: fixed;
  background-color: var(--color-shark-50);
  width: 100%;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0 24px;
  max-width: 1200px;
}

.branding {
  flex: 50% 1 1;
  position: relative;
  z-index: 30;
}

.logo {
}

.logo img {
  padding: 16px 0;
  width: 116px;
}

.navigation {
  width: 100%;
  height: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 20;
}

.mobile-menu-toggle {
  display: flex;
  flex: 50% 1 1;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 30;
}

.mobile-menu-toggle input {
  display: none;
}

.header:has(.mobile-menu-toggle input:checked) .navigation {
  height: 100%;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.menu {
  padding: var(--spacing-lg) 0;
  list-style-type: none;
}

.menu li a {
  display: inline-block;
  position: relative;
  padding: 4px 8px;
  color: var(--text-color);
  font-size: 42px;
  text-decoration: none;
}

/* Link hover animation */
.menu li a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 8px;
  background: var(--color-shark-200);
  width: 0;
  height: 10px;
  z-index: -1;
}
.menu li a:hover:after {
  width: 100%;
  transition: width 0.2s;
}

/**
* #4.0 Footer
*/

.footer {
  padding-top: 40px;
}

/* Social Links */

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-md);
}

.social-link {
  margin-right: 8px;
  color: var(--color-shark-500);
  font-size: 24px;
  transition: color 0.3s ease-in-out;
}

.social-link:hover {
  color: var(--color-shark-300);
}

.social-link:last-child {
  margin-right: 0;
}

/* Secondary Links */

.secondary-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.secondary-links li:after {
  content: "\00B7";
}

.secondary-links li:last-child:after {
  content: none;
}

.secondary-links li a {
  padding: 0 8px;
  font-size: 14px;
}

/* Copyright */

.copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-shark-900);
  padding: 16px 36px;
  color: var(--text-color-light);
}

.copyright p {
  margin: 0;
}

@media all and (min-width: 576px) {
  /**
  * #12.0 Layout
  */

  .home-change-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap);
  }
}

/* #20.0 - Media Tablet Up min 768px */

@media all and (min-width: 768px) {
  /**
  * #21.1 Typography
  */

  h1 {
    font-size: var(--text-size-h1);
  }
  h2 {
    font-size: var(--text-size-h2);
  }
  h3 {
    font-size: var(--text-size-h3);
  }
  h4 {
    font-size: var(--text-size-h4);
  }
  h5 {
    font-size: var(--text-size-h5);
  }
  h6 {
    font-size: var(--text-size-h6);
  }

  /**
  * #21.3 Buttons
  */

  .button--margin {
    margin-bottom: 0;
  }

  /**
  * #22.0 Layout
  */

  .home-hero,
  .home-future,
  .home-change,
  .home-makeover {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap);
  }

  .home-change-actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--grid-gap);
  }

  /**
  * #23.0 Header
  */

  .header-content {
    align-items: center;
  }

  .mobile-menu-toggle {
    display: none;
  }

  .navigation {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    opacity: 1;
  }

  .menu {
    display: flex;
    padding: 0;
  }

  .menu li a {
    padding: 4px 8px;
    font-size: 16px;
    text-decoration: none;
  }

  /**
  * #24.0 Footer
  */

  .footer__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .social-links {
    margin-bottom: 0;
  }
}
