/**
 *
 * Index
 *
 * 0.0 - Variables
 *  0.1 - Colors
 *  0.2 - Sizes and Spacings
 * 1.0 - General
 *  1.1 - Typography
 *  1.2 - Backgrounds
 *  1.4 - Forms
 * 2.0 - Layout
 * 3.0 - Header
 * 4.0 - Footer
 * 5.0 - Pages
 *  5.1 - Home
 *  5.2 - Webinar
 *  5.3 - About
 *  5.4 - Contact
 * 6.0 - Components
 *  6.1 - Buttons
 
 * 10.0 - Media min 576px
 *  12.0 - Layout
 *  15.0 - Pages
 *    15.1 - Home
 
 * 20.0 - Media min 768px
 *  21.0 - General
 *    21.1 - Typography
 *  22.0 - Layout
 *  23.0 - Header
 *  24.0 - Footer
 *  25.0 - Pages
 *    25.1 - Home
 *  26.0 - Components
 *    26.1 - Buttons
 *
 */

/**
 * #0.0 - Variables 
 */

/**
 * #0.1 - Colors 
 */

:root {
  --color-primary-50: #fff1f1;
  --color-primary-100: #fee5e6;
  --color-primary-200: #fccfd2;
  --color-primary-300: #faa7ae;
  --color-primary-400: #f67280;
  --color-primary-500: #ee455b;
  --color-primary-600: #da2445;
  --color-primary-700: #b81839;
  --color-primary-800: #9a1736;
  --color-primary-900: #841735;
  --color-primary-950: #4a0717;

  --color-secondary-50: #f4f7fb;
  --color-secondary-100: #e9eff5;
  --color-secondary-200: #cdddea;
  --color-secondary-300: #a2c0d7;
  --color-secondary-400: #70a0c0;
  --color-secondary-500: #4e84a9;
  --color-secondary-600: #3b698e;
  --color-secondary-700: #355c7d;
  --color-secondary-800: #2c4960;
  --color-secondary-900: #283e52;
  --color-secondary-950: #1b2836;

  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;

  --color-text: var(--color-neutral-600);
  --color-text-light: white;
  --color-headings: var(--color-secondary-700);
  --color-headings-light: var(--color-neutral-50);
  --color-link: var(--color-primary-600);
  --color-link-hover: var(--color-primary-400);
  --color-link-light: var(--color-primary-300);
  --color-link-light-hover: var(--color-primary-400);
}

/**
 * #0.2 - Sizes and Spacings 
 */

:root {
  --text-size-sm: 14px;
  --text-size-md: 16px;
  --text-size-lg: 20px;

  /* Minor Third */
  --text-size-h1: 39px;
  --text-size-h2: 33px;
  --text-size-h3: 27px;
  --text-size-h4: 23px;
  --text-size-h5: 19px;
  --text-size-h6: 16px;

  /* Major Second */
  --text-size-h1-sm: 28px;
  --text-size-h2-sm: 25px;
  --text-size-h3-sm: 22px;
  --text-size-h4-sm: 20px;
  --text-size-h5-sm: 18px;
  --text-size-h6-sm: 16px;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --grid-gap: 32px;
}

/**
 * #1.0 - General
 */
html {
  background-color: var(--color-neutral-50);
  color: var(--color-text-700);
  box-sizing: border-box;
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  font: 400 16px/1.6 Poppins, Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;
}

/**
 * #1.1 Typography 
 */

h1,
.h1 {
  font-size: var(--text-size-h1-sm);
  font-weight: 800;
  line-height: 1.2;
  color: var(--color-headings);
}
h2,
.h2 {
  font-size: var(--text-size-h2-sm);
  font-weight: 800;
  line-height: 1.2;
  color: var(--color-headings);
}
h3,
.h3 {
  font-size: var(--text-size-h3-sm);
  font-weight: 800;
  line-height: 1.2;
  color: var(--color-headings);
}
h4,
.h4 {
  font-size: var(--text-size-h4-sm);
  font-weight: 800;
  line-height: 1.2;
  color: var(--color-headings);
}
h5,
.h5 {
  font-size: var(--text-size-h5-sm);
  font-weight: 800;
  line-height: 1.2;
  color: var(--color-headings);
}
h6,
.h6 {
  font-size: var(--text-size-h6-sm);
  font-weight: 800;
  line-height: 1.2;
  color: var(--color-headings);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
ul {
  margin: 16px 0;
}

h1:first-child,
.h1:first-child,
h2:first-child,
.h2:first-child,
h3:first-child,
.h3:first-child,
h4:first-child,
.h4:first-child,
h5:first-child,
.h5:first-child,
h6:first-child,
.h6:first-child,
p:first-child {
  margin-top: 0;
}

a,
a.light {
  position: relative;
  text-decoration: none;
  z-index: 0;
  transition: color 0.3s ease-in-out;
}
a {
  color: var(--color-link);
}
a:hover {
  color: var(--color-link-hover);
}
a.light {
  color: var(--color-link-light);
}
a.light:hover {
  color: var(--color-link-light-hover);
}

a::after,
a.light::after {
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0;
  height: 6px;
  z-index: -1;
}
a::after {
  background-color: var(--color-primary-200);
}
a.light::after {
  opacity: 0.4;
}
a:hover::after,
a.light:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

a:not(.logo, .button, .social-link, .menu li a)::after {
  content: "";
}
svg .st0 {
  fill: #ee455b;
}
svg .st1 {
  fill: #355c7d;
}
strong {
  color: var(--color-secondary-700);
}

.text-large {
  font-size: var(--text-size-lg);
}
.text-center {
  text-align: center;
}

/**
 * #1.2 Backgrounds 
 */

.background-lighter {
  background-color: var(--color-neutral-100);
}
.background-light {
  background-color: var(--color-neutral-200);
}
.background-color {
  background-color: var(--color-secondary-800);
}
.background-color-dark {
  background-color: var(--color-secondary-900);
}
.background-dark {
  background-color: var(--color-neutral-700);
}
.background-darker {
  background-color: var(--color-neutral-800);
}
.background-primary-lightest {
  background-color: var(--color-primary-100);
}

/**
 * #1.4 Forms
 */

input,
textarea,
select {
  padding: 12px 16px;
  border: 1px solid var(--color-neutral-300);
  border-radius: 4px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

textarea {
  resize: vertical;
}

.field {
  display: flex;
  margin: var(--spacing-md) 0;
}

.field__text {
  flex-direction: column;
}

.field__checkbox {
  align-items: flex-start;
}

.field__label {
  margin-bottom: var(--spacing-xs);
  font-size: var(--text-size-sm);
}

.field__input {
}

.field__input-checkbox {
  margin-right: 8px;
}

/**
 * 2.0 - Layout 
 */

main {
  margin-bottom: auto;
  padding-top: 76px;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1280px;
}

.container-small {
  margin: auto;
  width: 100%;
  max-width: 768px;
}

.page-hero,
.page-section {
  padding: 36px 24px;
}

.footer__content {
  padding: 32px 24px;
}

/**
 * #3.0 Header
 */

.header {
  position: fixed;
  background-color: var(--color-neutral-100);
  width: 100%;
  z-index: 9999;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0 24px;
  max-width: 1200px;
}

.branding {
  flex: 50% 1 1;
  position: relative;
  z-index: 30;
}

.logo img {
  padding: 16px 0;
  width: 116px;
}

.navigation {
  width: 100%;
  height: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 20;
}

.mobile-menu-toggle {
  display: flex;
  flex: 50% 1 1;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 30;
}

.mobile-menu-toggle input {
  display: none;
}

.header:has(.mobile-menu-toggle input:checked) .navigation {
  height: 100%;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.menu {
  padding: var(--spacing-lg) 0;
  list-style-type: none;
}

.menu li a {
  display: inline-block;
  position: relative;
  padding: 4px 8px;
  color: var(--color-secondary-700);
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

/* Mobile menu trigger button */

.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 36px;
  height: 36px;
}

.hamburger span {
  display: block;
  background: var(--color-secondary-600);
  width: 100%;
  height: 5px;
  transform-origin: center;
  transition: all 0.2s ease-in-out;
}

.header:has(.mobile-menu-toggle input:checked) .hamburger span:nth-child(1) {
  transform: translateY(11px) rotate(-45deg);
}

.header:has(.mobile-menu-toggle input:checked) .hamburger span:nth-child(2) {
  opacity: 0;
}

.header:has(.mobile-menu-toggle input:checked) .hamburger span:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

/* Link hover animation */

.menu li a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 14px;
  background: var(--color-primary-200);
  width: 0;
  height: 16px;
  z-index: -1;
}

.menu li a.active::after {
  width: 16px;
  border-radius: 100%;
}

.menu li a:hover::after {
  width: 100%;
  border-radius: 0;
  transition: width 0.3s ease-in-out, border-radius 0.1s ease-in-out;
}

/**
 * #4.0 Footer
 */

.footer {
  /* padding-top: 40px; */
}

/* Newsletter */

.newsletter {
  padding: 36px 24px;
}

.newsletter label,
.newsletter__header h3,
.newsletter__header {
  color: white;
}

.newsletter__header {
  text-align: center;
}

/* Social Links */

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-md);
}

.social-link {
  background-color: var(--color-neutral-200);
  width: 32px;
  height: 32px;
  margin-right: 24px;
  transition: background-color 0.3s ease-in-out;
}

.social-link:hover {
  background-color: var(--color-primary-400);
}

.social-link:last-child {
  margin-right: 0;
}

.social-link__twitter {
  mask: url("../images/icon-social-twitter.svg.svg") no-repeat center;
  -webkit-mask: url("../images/icon-social-twitter.svg") no-repeat center;
}

.social-link__facebook {
  mask: url("../images/icon-social-facebook.svg.svg") no-repeat center;
  -webkit-mask: url("../images/icon-social-facebook.svg") no-repeat center;
}

.social-link__instagram {
  mask: url("../images/icon-social-instagram.svg.svg") no-repeat center;
  -webkit-mask: url("../images/icon-social-instagram.svg") no-repeat center;
}

/* Secondary Links */

.secondary-links {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0 0 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
}

.secondary-links li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondary-links li::after {
  display: block;
  content: "\00B7";
  color: var(--color-link-light);
}

.secondary-links li:last-child::after {
  content: none;
}

/* Copyright */

.copyright {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 16px 36px;
  color: var(--color-text-light);
}

.copyright p {
  margin: 0;
}

/**
 * #5.0 Pages
 */

/* #5.1 Home */

.home-hero {
  padding: 64px 24px 0px 24px;
}

.home-webinar {
  padding: 96px 24px;
}
.home-webinar__future {
  padding-bottom: 36px;
  display: flex;
  flex-direction: column-reverse;
}
.home-webinar__change {
}
.home-webinar__icons {
  padding-top: 36px;
  padding-bottom: 36px;
}
.home-webinar__cta {
  display: flex;
  justify-content: center;
}

.home-hero__image,
.home-about__image,
.home-webinar__future__image,
.home-webinar__change__image {
  margin-bottom: 32px;
}

.home-about {
  display: flex;
  flex-direction: column-reverse;
  padding: 96px 24px;
}

.home-ready {
  padding: 64px 24px;
}

.home-ready__content {
  text-align: center;
}

/* #5.2 Webinar */

.webinar-hero {
  padding: 36px 24px;
}

.webinar-agenda,
.webinar-details,
.webinar-host,
.webinar-faq,
.webinar-testimonials,
.webinar-form {
  padding: 36px 24px;
}

.webinar-agenda__heading {
  text-align: center;
  margin-bottom: var(--spacing-lg);
}

.webinar-testimonials {
  padding: 64px 24px;
}

.webinar-details {
  max-width: 768px;
  margin-bottom: var(--spacing-md);
}

.webinar-icon-text {
  margin-bottom: var(--spacing-md);
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: var(--spacing-sm);
  border-radius: 8px;
}

.webinar-icon-text p {
  font-size: 14px;
  margin: 0;
}

.webinar-faq {
  max-width: 768px;
}

.webinar-faq__heading {
  text-align: center;
  margin-bottom: var(--spacing-lg);
}

.faq__item {
  background: var(--color-neutral-100);
  border-radius: 8px;
  padding: var(--spacing-md);
  margin-bottom: 16px;
}

.faq__item dd {
  margin: 0;
}

.testimonial {
  position: relative;
  background-color: var(--color-neutral-100);
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.04);
  padding: 32px;
  margin: 56px 0 0 0;
}

.webinar-testimonials__heading {
  text-align: center;
  margin-bottom: var(--spacing-lg);
}

.testimonial::before {
  display: flex;
  justify-content: center;
  align-content: center;
  line-height: 1.2;
  border-radius: 100%;
  width: 68px;
  height: 68px;
  background: var(--color-neutral-100);
  position: absolute;
  top: -44px;
  left: 50%;
  transform: translateX(-50%);
  content: '"';
  font-size: 140px;
  color: var(--color-secondary-400);
}
.testimonial__body {
  padding: 0;
  margin: 0;
}

.testimonial--accent {
  background-color: var(--color-primary-500);
}
.testimonial--accent .testimonial__body,
.testimonial--accent .testimonial__footer {
  color: white;
}

/* #5.3 About */

.about-hero,
.about-alex,
.about-vision,
.about-transformation {
  padding: 36px 24px;
}

/* #5.4 Contact */

.contact-hero,
.contact-form {
  padding: 36px 24px;
}

/**
 * #6.0 Components
 */

/**
 * #6.1 Buttons
 */

.buttons {
  display: flex;
  flex-direction: column;
}
.button {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
.button--primary {
  background-color: var(--color-primary-600);
  color: white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.button--primary:hover {
  background-color: var(--color-primary-800);
  color: var(--color-primary-50);
}
.button--outline-light {
  padding: 10px 22px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.button--outline-light:hover {
  background-color: var(--color-primary-600);
  color: white;
}
.button--secondary {
  background-color: var(--color-secondary-600);
  color: white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.button--secondary:hover {
  background-color: var(--color-secondary-800);
  color: white;
}

.button--margin {
  margin-bottom: 8px;
}

/* Custom Icons */

.icon-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 14px;
}

.icon {
  display: block;
}

.icon--sm {
  width: 36px;
  height: 36px;
}

.icon--lg {
  width: 140px;
  height: 140px;
}

.icon--color-primary {
  background: var(--color-primary-400);
}

.icon--color-secondary {
  background: var(--color-secondary-400);
}

.icon--negative {
  mask: url("../images/icon-mindset-negative.svg") no-repeat center;
  -webkit-mask: url("../images/icon-mindset-negative.svg") no-repeat center;
}
.icon--positive {
  mask: url("../images/icon-mindset-positive.svg") no-repeat center;
  -webkit-mask: url("../images/icon-mindset-positive.svg") no-repeat center;
}
.icon--goals {
  mask: url("../images/icon-mindset-goals.svg") no-repeat center;
  -webkit-mask: url("../images/icon-mindset-goals.svg") no-repeat center;
}
.icon--responsibility {
  mask: url("../images/icon-mindset-responsibility.svg") no-repeat center;
  -webkit-mask: url("../images/icon-mindset-responsibility.svg") no-repeat
    center;
}

.icon--timezone {
  mask: url("../images/icon-timezone.svg") no-repeat center;
  -webkit-mask: url("../images/icon-timezone.svg") no-repeat center;
}

.icon--time {
  mask: url("../images/icon-time.svg") no-repeat center;
  -webkit-mask: url("../images/icon-time.svg") no-repeat center;
}

.icon--date {
  mask: url("../images/icon-date.svg") no-repeat center;
  -webkit-mask: url("../images/icon-date.svg") no-repeat center;
}

/* Image Masks */

.image-mask-1 img {
  object-fit: cover;
  mask-image: url("../images/mask-01.svg");
  -webkit-mask-image: url("../images/mask-01.svg");
  mask-repeat: no-repeat round;
  -webkit-mask-repeat: no-repeat round;
  mask-size: contain;
  -webkit-mask-size: contain;
}
.image-mask-2 img {
  object-fit: cover;
  mask-image: url("../images/mask-02.svg");
  -webkit-mask-image: url("../images/mask-02.svg");
  mask-repeat: no-repeat round;
  -webkit-mask-repeat: no-repeat round;
  mask-size: contain;
  -webkit-mask-size: contain;
}
.image-mask-3 img {
  object-fit: cover;
  mask-image: url("../images/mask-03.svg");
  -webkit-mask-image: url("../images/mask-03.svg");
  mask-repeat: no-repeat round;
  -webkit-mask-repeat: no-repeat round;
  mask-size: contain;
  -webkit-mask-size: contain;
}
.image-mask-4 img {
  object-fit: cover;
  mask-image: url("../images/mask-04.svg");
  -webkit-mask-image: url("../images/mask-04.svg");
  mask-repeat: no-repeat round;
  -webkit-mask-repeat: no-repeat round;
  mask-size: contain;
  -webkit-mask-size: contain;
}

/* Dividers */

.divider {
  line-height: 0;
}
.divider--invert {
  transform: scaleY(-1);
}
.divider--lighter-to-base {
  background: var(--color-neutral-100);
  fill: var(--color-neutral-50);
}
.divider--light-to-lighter {
  background: var(--color-neutral-200);
  fill: var(--color-neutral-100);
}

/** 
 * #10.0 - Media min 576px 
 */

@media all and (min-width: 576px) {
  /**
  * #6.1 Buttons
  */

  .buttons {
    flex-direction: row;
    gap: 16px;
  }

  /**
   * #14.0 Footer
   */

  .secondary-links {
    justify-content: center;
    flex-direction: row;
    margin: 0;
  }

  .secondary-links li {
    flex-direction: row;
  }

  .secondary-links li::after {
    margin: 0 8px;
  }

  /**
  * #15.0 Pages
  */

  /* #15.1 Home */

  .home-webinar__icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap);
  }

  /* #15.2 Webinar */

  .webinar-details {
    margin-top: -100px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--grid-gap);
  }

  .webinar-icon-text {
    margin-bottom: 0;
  }

  .webinar-agenda {
    max-width: 768px;
  }
}

/**
 * #20.0 - Media min 768px 
 */

@media all and (min-width: 768px) {
  /**
  * #21.1 Typography
  */

  h1 {
    font-size: var(--text-size-h1);
  }
  h2 {
    font-size: var(--text-size-h2);
  }
  h3 {
    font-size: var(--text-size-h3);
  }
  h4 {
    font-size: var(--text-size-h4);
  }
  h5 {
    font-size: var(--text-size-h5);
  }
  h6 {
    font-size: var(--text-size-h6);
  }

  /**
   * #23.0 Header
   */

  .header-content {
    align-items: center;
  }

  .mobile-menu-toggle {
    display: none;
  }

  .navigation {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    opacity: 1;
  }

  .menu {
    display: flex;
    padding: 0;
  }

  .menu li a {
    padding: 4px 8px;
    font-size: 16px;
    text-decoration: none;
  }

  /* Link hover animation */

  .menu li a::after {
    bottom: 6px;
    height: 12px;
  }

  .menu li a.active::after {
    width: 12px;
    border-radius: 100%;
  }

  .menu li a.active:hover::after {
    width: 100%;
    border-radius: 0;
  }

  /**
   * #24.0 Footer
   */

  .footer__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .social-links {
    margin-bottom: 0;
  }

  /**
  * #25.0 Pages
  */

  /* #25.1 Home */

  .home-hero,
  .home-about,
  .home-webinar__future,
  .home-webinar__change {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap);
  }

  .home-webinar__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--grid-gap);
  }

  /* #25.2 Webinar */

  .webinar-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap);
    align-items: center;
  }

  .webinar-host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap);
    align-items: center;
  }

  .faq {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap);
  }

  .faq__item {
    margin-bottom: 0;
  }

  .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--grid-gap);
  }

  /**
   * #26.0 Components
   */

  /* #26.1 Buttons */

  .button--margin {
    margin-bottom: 0;
  }
}
