/*
*
* Styles
*
* Legend
* 0.1 - Variables
* 1.0 - General 
* 2.0 - Layout Styles
* 3.0 - Header
* 4.0 - Page Specific Styles
*/

:root {
  --color-shark-50: #f4f7f7;
  --color-shark-100: #e3e9ea;
  --color-shark-200: #c9d4d8;
  --color-shark-300: #a4b6bc;
  --color-shark-400: #789098;
  --color-shark-500: #5c747e;
  --color-shark-600: #4f616b;
  --color-shark-700: #44525a;
  --color-shark-800: #3d474d;
  --color-shark-900: #363d43;
  --color-shark-950: #293035;
  --color-red-50: #fef2f3;
  --color-red-100: #fde6e8;
  --color-red-200: #fad1d5;
  --color-red-300: #f5acb4;
  --color-red-400: #ef7d8c;
  --color-red-500: #e44f66;
  --color-red-600: #ce2e4e;
  --color-red-700: #af2141;
  --color-red-800: #931e3d;
  --color-red-900: #7e1d39;
  --color-red-950: #460b1b;
  --text-color: #333;
  --text-color-light: #fff;
  --text-size-sm: 14px;
  --text-size-md: 16px;
  --text-size-lg: 20px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
}
* {
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  color: var(--text-color);
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 400 16px/1.6 Poppins, Arial, Helvetica, sans-serif;
}
img {
  width: 100%;
}
h1 {
  font-size: 48px;
  line-height: 1.2;
}
h2 {
  font-size: 39px;
  line-height: 1.2;
}
h3 {
  font-size: 31px;
  line-height: 1.2;
}
h4 {
  font-size: 25px;
  line-height: 1.2;
}
h5 {
  font-size: 20px;
  line-height: 1.2;
}
h6 {
  font-size: 16px;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 16px 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
  margin-top: 0;
}
a {
  text-decoration: none;
}
.text-large {
  font-size: var(--text-size-lg);
}
/* 2.0 - Layout */

main {
  padding-top: 76px;
  margin-bottom: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.container-small {
  width: 100%;
  max-width: 768px;
  margin: auto;
}

.home-hero,
.webinar-hero,
.about-hero,
.contact-hero,
.page-hero {
  padding: 96px 24px;
}

.home-future,
.home-change,
.home-makeover,
.home-ready,
.webinar-agenda,
.webinar-host,
.webinar-faq,
.webinar-testimonials,
.webinar-form,
.about-alex,
.about-vision,
.about-transformation,
.contact-form,
.newsletter,
.page-section {
  padding: 64px 24px;
}

.footer__content {
  padding: 32px 24px;
}

.newsletter-header,
.home-ready__content {
  text-align: center;
}

/* Backgrounds */

.background {
  background-color: var(--color-shark-50);
}
.background-newsletter {
  background-color: var(--color-shark-200);
}

/* Forms */
input,
textarea,
select {
  border: 1px solid var(--color-shark-200);
  border-radius: 4px;
  padding: 12px 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
textarea {
  resize: vertical;
}

.field {
  display: flex;
  margin: var(--spacing-md) 0;
}
.field__text {
  flex-direction: column;
}
.field__checkbox {
  align-items: flex-start;
}
.field__label {
  font-size: var(--text-size-sm);
  margin-bottom: var(--spacing-xs);
}
.field__input {
}
.field__input-checkbox {
  margin-right: 8px;
}

/* Buttons */

.button {
  display: inline-block;
  border: none;
  background-color: var(--color-red-500);
  color: var(--color-shark-50);
  font-size: 16px;
  font-weight: normal;
  padding: 12px 24px;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  opacity: 0.7;
}

.button__submit {
}

/* 3.1 - Header */

.header {
  position: fixed;
  background-color: var(--color-shark-50);
  width: 100%;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

.branding {
  flex: 50% 1 1;
  position: relative;
  z-index: 30;
}

.logo {
}

.logo img {
  width: 116px;
  padding: 16px 0;
}

.navigation {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  z-index: 20;
}

.mobile-menu-toggle {
  position: relative;
  z-index: 30;
  flex: 50% 1 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mobile-menu-toggle input {
  display: none;
}

.header:has(.mobile-menu-toggle input:checked) .navigation {
  opacity: 1;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.menu {
  list-style-type: none;
  padding: 36px 0;
}

.menu li a {
  position: relative;
  display: inline-block;
  padding: 4px 8px;
  text-decoration: none;
  font-size: 42px;
  color: var(--text-color);
}

/* Link hover animation */
.menu li a:after {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 8px;
  display: block;
  background: var(--color-shark-500);
  content: "";
  width: 0;
  height: 16px;
}
.menu li a:hover:after {
  width: 100%;
  transition: width 0.2s;
}

/* 3.2 - Footer */
.footer {
  padding-top: 40px;
}
/* Social Links */
.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-md);
}
.social-link {
  color: var(--color-shark-500);
  margin-right: 8px;
  font-size: 24px;
  transition: color 0.3s ease-in-out;
}
.social-link:hover {
  color: var(--color-shark-300);
}
.social-link:last-child {
  margin-right: 0;
}
/* Secondary Links */
.secondary-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.secondary-links li:after {
  content: "\00B7";
}
.secondary-links li:last-child:after {
  content: none;
}
.secondary-links li a {
  font-size: 14px;
  padding: 0 8px;
}
/* Copyright */
.copyright {
  background-color: var(--color-shark-900);
  color: var(--text-color-light);
  padding: 16px 36px;
  display: flex;
  justify-content: center;
}
.copyright p {
  margin: 0;
}

@media all and (min-width: 768px) {
  .header-content {
    align-items: center;
  }

  .mobile-menu-toggle {
    display: none;
  }

  .navigation {
    width: 50%;
    height: 100%;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
  }

  .menu {
    padding: 0;
    display: flex;
  }

  .menu li a {
    padding: 4px 8px;
    text-decoration: none;
    font-size: 16px;
  }

  /* Layout */

  .home-hero,
  .home-future,
  .home-change,
  .home-makeover {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
  }
  /* Social Links */
  .footer__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .social-links {
    margin-bottom: 0;
  }
}
